@model HikeLog.Models.Statistics.StatsDetail

@{
    ViewBag.Title = "Details";
}

<h2>Stats Details</h2>

<p>
    @Html.ActionLink("Reset View", "Details")
</p>

@using (Html.BeginForm("Details", "Statistics", FormMethod.Get))
{
    <b>Search Option: </b>
    @Html.RadioButton("option", "Section")<text>Section</text>
    @Html.TextBox("sectionId")
    <input type="submit" name="submit" value="Search" />
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SectionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageMPDPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageMPDPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageMPDActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageMPDActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageMPDActualNoZeros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageMPDActualNoZeros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedDaysToComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedDaysToComplete)
        </dd>

    </dl>
</div>

