@model HikeLog.Models.Statistics.StatsDetail

@{
    ViewBag.Title = "Stats Index";
}

<h2>Stats Index</h2>
<p>
    @Html.ActionLink("Reset View", "Index")
</p>

@using (Html.BeginForm("Details", "Statistics", FormMethod.Get))
{
    <b>Search Option: </b>
    @Html.RadioButton("option", "Section")<text>Section</text>
    @*@Html.RadioButton("option", "Date")<text>Date</text>*@
    @Html.TextBox("search")
    <input type="submit" name="submit" value="Search" />
}
<div>
    <h4>StatsDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SectionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageMPDPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageMPDPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageMPDActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageMPDActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageMPDActualNoZeros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageMPDActualNoZeros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedDaysToComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedDaysToComplete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
