@{
    ViewBag.Title = "Home Page";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('/Assets/20210517_073258.jpg');
            background-size: 100% auto;
            margin: 0;
            }
        </style>
    }

    <div class="jumbotron" style="margin-top: 5rem">
        <h1>AT Hike Log</h1>
        <p class="lead">An app to simplify tracking daily miles on the AT.</p>
        @if (User.Identity.IsAuthenticated)
        {
            <button class="btn btn-primary">@Html.ActionLink("Add Log Entry", "Create", "DailyLog", null, new { id = "OT", style = "color: white" })</button>
            <br /><br />
            <button class="btn btn-primary">@Html.ActionLink("Add Section", "Create", "Section", null, new { id = "OT", style = "color: white" })</button>
            <br /><br />
            <button class="btn btn-primary">@Html.ActionLink("View Statistics", "Details", "Statistics", null, new { id = "OT", style = "color: white" })</button>
            <br /><br />
            <button class="btn btn-primary">@Html.ActionLink("Edit Profile", "Edit", "Profile", null, new { id = "OT", style = "color: white" })</button>







        }

        @if (!User.Identity.IsAuthenticated)
        {
            <button class="btn btn-primary">@Html.ActionLink("Log In", "Login", "Account", null, new { id = "OT", style = "color: white" })</button>

            <br /><br />
            <button class="btn btn-primary">@Html.ActionLink("Register", "Register", "Account", null, new { id = "OT", style = "color: white" })</button>
        }
    </div>


