@model HikeLog.Models.Section.SectionDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SectionDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartMile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartMile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndMile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndMile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SectionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
